<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'register.css' %>
    <script
      type="text/javascript"
      src="https://sandbox.web.squarecdn.com/v1/square.js"
    ></script>
    <%= javascript_pack_tag 'register', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div>
  <%= render @event %>
  </div>
  <%= form_with(id: "payment-form",url: payments_path(@event), method: :post, local: true) do |f| %>
    <div class="mb-3">
      <label for="card" class="form-label">Credit Card</label>
      <div id="card-container"></div>
      <%= f.hidden_field "card-nonce", name: "nonce" %>
    </div>
	  <%= f.submit "Pay" ,id: "card-button",class: "btn btn-primary"%>
	<% end %>
  <div id="payment-status-container"></div>
  </body>

</html>

