<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
<%if can? :edit, Event %>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
<% end %>
  <%= link_to "Back to events", events_path %>
<% if can? :destroy, Event %>
  <%= button_to "Destroy this event", @event, method: :delete %>
<% end %>
</div>
