<!DOCTYPE html>
<html>
  <head>
    <title>Event Booking Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
    
    <% if user_signed_in? %>
      <p><b><%= current_user.fullname %> have Admin acccess</p></b>
      <span style="float:right;padding-right:60px"><%= button_to "Logout", destroy_user_session_path, method: :delete %></span><br>
      <%= link_to "See all the events", events_path, method: :get %><br/><br/>
      <%= link_to "Manage Customers", customers_path, method: :get %>
    <% else %>
      <%= button_to "Signup", new_user_registration_path, method: :get %><br><br>
      <%= button_to "Login", new_user_session_path, method: :get %>
    <% end %>

  </body>
</html>
